/* src/styles/AboutCollegeSurvey.module.css */

.about {
  background-color: #e2f2f8;
  padding: 60px 20px;
  text-align: center;
  color: #000000;
  min-height: 100vh;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #006efe;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.intro {
  font-size: 18px;
  max-width: 800px;
  font-weight:bold;
  margin: 0 auto 30px;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.points {
  list-style-type: disc;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  font-size: 1.1rem;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
}

.points li {
  margin-bottom: 16px;
  font-weight:bold;
}

.points li strong u {
  color: #006efe;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 600;
}
