.features {
  background-color: #e2f2f8;
  padding: 0px 0px;
  text-align: center;
  color: #000000;
}

.features h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #006efe;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(245, 236, 236, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #006efe;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.description {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.card:hover .description,
.active .description {
  max-height: 100px;
  opacity: 1;
  margin-top: 10px;
}

.description p {
  font-size: 1rem;
  line-height: 1.6;
  color: #000000;
  font-weight:bold;
  
}
